# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Tobias Fella <fella@posteo.de>
[Desktop Entry]
Name=Arianna
Name[ca]=Arianna
Name[ca@valencia]=Arianna
Name[en_GB]=Arianna
Name[es]=Arianna
Name[fr]=Arianna
Name[it]=Arianna
Name[ka]=არიანა
Name[nl]=Arianna
Name[sl]=Arianna
Name[tr]=Arianna
Name[uk]=Arianna
Name[x-test]=xxAriannaxx
GenericName=EPub Reader
GenericName[ca]=Lector d'EPub
GenericName[ca@valencia]=Lector d'EPub
GenericName[en_GB]=EPub Reader
GenericName[es]=Lector de EPub
GenericName[fr]=Lecteur pour fichiers « ePub »
GenericName[it]=Lettore EPub
GenericName[ka]=EPub -ის წამკითხველი
GenericName[nl]=EPub-lezer
GenericName[sl]=Bralnik EPub
GenericName[tr]=EPub Okuyucu
GenericName[uk]=Читання EPub
GenericName[x-test]=xxEPub Readerxx
Exec=arianna %u
Terminal=false
Icon=org.kde.arianna
Type=Application
Categories=Network;InstantMessaging;X-SocialMedia
X-KDE-FormFactor=desktop;tablet;handset;
SingleMainWindow=true
