# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Tobias Fella <fella@posteo.de>
[Desktop Entry]
Name=Arianna
Name[ca]=Arianna
Name[ca@valencia]=Arianna
Name[cs]=Arianna
Name[de]=Arianna
Name[en_GB]=Arianna
Name[es]=Arianna
Name[eu]=Arianna
Name[fi]=Arianna
Name[fr]=Arianna
Name[gl]=Arianna
Name[hu]=Arianna
Name[ia]=Arianna
Name[it]=Arianna
Name[ka]=არიანა
Name[nl]=Arianna
Name[pt]=Arianna
Name[sk]=Arianna
Name[sl]=Arianna
Name[tr]=Arianna
Name[uk]=Arianna
Name[x-test]=xxAriannaxx
Name[zh_CN]=Arianna
GenericName=Ebook Reader
GenericName[ca]=Lector de llibres electrònics
GenericName[ca@valencia]=Lector de llibres electrònics
GenericName[cs]=Čtečka e-knih
GenericName[de]=EBook-Lesegerät
GenericName[en_GB]=Ebook Reader
GenericName[es]=Lector de eBook
GenericName[eu]=eLiburuki irakurlea
GenericName[fi]=EPub-lukija
GenericName[fr]=Lecteur pour fichiers « eBook »
GenericName[gl]=Lector de Ebook
GenericName[ia]=Lector de EBook
GenericName[it]=Lettore EBook
GenericName[ka]=ელწიგნების მკითხველი
GenericName[nl]=E-book-lezer
GenericName[pt]=Leitor de E-Books
GenericName[sk]=Čítačka elektronických kníh
GenericName[sl]=Bralnik elektronskih knjig
GenericName[tr]=E-kitap Okuyucu
GenericName[uk]=Читання електронних книг
GenericName[x-test]=xxEbook Readerxx
GenericName[zh_CN]=电子书阅读器
Exec=arianna %u
Terminal=false
Icon=org.kde.arianna
Type=Application
Categories=Qt;KDE;Graphics;Office;
X-KDE-FormFactor=desktop;tablet;handset;
SingleMainWindow=true
MimeType=application/epub+zip
